## ctibutler
requests>=2.32.4
drf-spectacular
djangorestframework>=3.15.2
drf-spectacular>=0.27.2
celery>=5.4.0; python_version >= '3.8'
psycopg2-binary>=2.9.10
redis
hyperlink
django>=5.2.1
django-filter>=24.2
django-cors-headers
django-cleanup
cryptography>=50.0.0

## dogesec
dogesec_commons
stix2arango
stix2extensions

## production
gunicorn==23.0.0